@import "../variables_mixins.scss";
/* background 
- Terminal (green) - background: linear-gradient(to right, #000000, #0f9b0f);
- Scooter (blue) - background: linear-gradient(to right, #36d1dc, #5b86e5);
- Visions of Grandeur (blue) - background: linear-gradient(to right, #000046, #1cb5e0);
- Purpelepine (purple) - background: linear-gradient(to right, #20002c, #cbb4d4);
- Between Night and Day (dark blue) - background: linear-gradient(to right, #2c3e50, #3498db);
*/

h1,h2,h3,h4,h5,h6 {
    font-family: var(--DAYS-ONE);
}

p {
    font-family: var(--NOVA-MONO);
}

.pulse {
    position: relative;

    @include size(100vh,100%);
    @include colors(white, linear-gradient(to right, #2c3e50, #3498db));
    @include flexy(center,center,column,wrap);
}

@keyframes greetings {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
