
%text_registration {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

%text_type-registration {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

%reset-settings-for-btn {
    font-family: var(--MONTSERRAT);
    border: none;
    color: white;
    background-color: transparent;
}

%input-sing-in {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--LEMON);
    color: white;
    padding: 15px;
    position: relative;
    z-index: 1;
    border-radius: 25px;
}