
%text_registration {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

%text_type-registration {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

%reset-settings-for-btn {
    font-family: var(--MONTSERRAT);
    border: none;
    color: white;
    background-color: transparent;
}